.git

# Ignored files for VC++
UpgradeLog.XML
~*
*~
*.7z
*.a
*.aps
*.clw
*.dll
*.dsp
*.dsw
*.exe
*.exp
*.lastbuildstate
*.lib
*.log
*.tlog
*.idb
*.ilk
*.ncb
*.obj
*.opensdf
*.pdb
*.pyc
*.rar
*.res
*.sdf
*.so
*.suo
*.user
*.zip

# Ignored dirs for VC++
_UpgradeReport_Files/
*.tlog/
ipch/
tmp/
temp/
~*/
target/
build/
Debug/
Release/

# cpython builds
obj/
amd64/
win32/
Win32-temp-Debug/
Win32-temp-Release/
x64-temp-Debug/
x64-temp-Release/
